<%- include("header") -%>

<h2>This is a about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia saepe hic consectetur commodi vero maxime veniam.
    Officia, quidem quia totam officiis nulla dolor esse quam aut facilis dignissimos magni mollitia.</p>

<%- include("footer") -%>